<form action="/todos/{{id}}" method="post" class="todo-input {{class}}">
    <input id="taskName" type="text" name="taskName" placeholder="Write your task here..." value="{{value}}"/>
    <button type="submit"> Add</button>
</form>
